# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pdb
*.cache
*.resources

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Configurations #
###################
*.xml
*.config

# Logs #
#########
*.htm
*.log
*.txt

WindowsFormsApp3/.vs/*
WindowsFormsApp3/obj/*
